.light-medium-contrast {
  --md-sys-color-primary: rgb(85 43 0);
  --md-sys-color-surface-tint: rgb(144 77 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(166 89 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(84 44 4);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(149 97 53);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(81 44 44);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(143 97 97);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(220 0 21);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(35 26 18);
  --md-sys-color-surface: rgb(254 248 250);
  --md-sys-color-on-surface: rgb(18 17 18);
  --md-sys-color-surface-variant: rgb(243 221 230);
  --md-sys-color-on-surface-variant: rgb(64 50 57);
  --md-sys-color-outline: rgb(94 78 86);
  --md-sys-color-outline-variant: rgb(121 104 112);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 48 49);
  --md-sys-color-inverse-on-surface: rgb(245 239 241);
  --md-sys-color-inverse-primary: rgb(255 183 125);
  --md-sys-color-primary-fixed: rgb(166 89 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(130 69 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(149 97 53);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(121 74 32);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(143 97 97);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(116 74 74);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(202 197 199);
  --md-sys-color-surface-bright: rgb(254 248 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 244);
  --md-sys-color-surface-container: rgb(236 231 233);
  --md-sys-color-surface-container-high: rgb(225 219 221);
  --md-sys-color-surface-container-highest: rgb(214 208 210);
}
